---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
export let title: string;
export let description: string;
---

<html lang="en" class="antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="bg-white text-gray-800 font-sans">
    <Header />
    <main class="prose prose-lg mx-auto py-12 px-4">
      <slot />
    </main>
    <Footer />
  </body>
</html>
